
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>aranoz</title>
    <link rel="icon" href="~/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="~/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="~/css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="~/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
@await Component.InvokeAsync("Header")


@RenderBody();

@* <!-- subscribe_area part start--> *@
    @* <section class="subscribe_area section_padding"> *@
    @*     <div class="container"> *@
    @*         <div class="row justify-content-center"> *@
    @*             <div class="col-lg-7"> *@
    @*                 <div class="subscribe_area_text text-center"> *@
    @*                     <h5>Join Our Newsletter</h5> *@
    @*                     <h2>Subscribe to get Updated *@
    @*                         with new offers</h2> *@
    @*                     <div class="input-group"> *@
    @*                         <input type="text" class="form-control" placeholder="enter email address" *@
    @*                             aria-label="Recipient's username" aria-describedby="basic-addon2"> *@
    @*                         <div class="input-group-append"> *@
    @*                             <a href="#" class="input-group-text btn_2" id="basic-addon2">subscribe now</a> *@
    @*                         </div> *@
    @*                     </div> *@
    @*                 </div> *@
    @*             </div> *@
    @*         </div> *@
    @*     </div> *@
    @* </section> *@
    @* <!--::subscribe_area part end::--> *@
    @* *@
    @* <!-- subscribe_area part start--> *@
    @* <section class="client_logo padding_top"> *@
    @*     <div class="container"> *@
    @*         <div class="row align-items-center"> *@
    @*             <div class="col-lg-12"> *@
    @*                 <div class="single_client_logo"> *@
    @*                     <img src="img/client_logo/client_logo_1.png" alt=""> *@
    @*                 </div> *@
    @*                 <div class="single_client_logo"> *@
    @*                     <img src="img/client_logo/client_logo_2.png" alt=""> *@
    @*                 </div> *@
    @*                 <div class="single_client_logo"> *@
    @*                     <img src="img/client_logo/client_logo_3.png" alt=""> *@
    @*                 </div> *@
    @*                 <div class="single_client_logo"> *@
    @*                     <img src="img/client_logo/client_logo_4.png" alt=""> *@
    @*                 </div> *@
    @*                 <div class="single_client_logo"> *@
    @*                     <img src="img/client_logo/client_logo_5.png" alt=""> *@
    @*                 </div> *@
    @*                 <div class="single_client_logo"> *@
    @*                     <img src="img/client_logo/client_logo_3.png" alt=""> *@
    @*                 </div> *@
    @*                 <div class="single_client_logo"> *@
    @*                     <img src="img/client_logo/client_logo_1.png" alt=""> *@
    @*                 </div> *@
    @*                 <div class="single_client_logo"> *@
    @*                     <img src="img/client_logo/client_logo_2.png" alt=""> *@
    @*                 </div> *@
    @*                 <div class="single_client_logo"> *@
    @*                     <img src="img/client_logo/client_logo_3.png" alt=""> *@
    @*                 </div> *@
    @*                 <div class="single_client_logo"> *@
    @*                     <img src="img/client_logo/client_logo_4.png" alt=""> *@
    @*                 </div> *@
    @*             </div> *@
    @*         </div> *@
    @*     </div> *@
    @* </section> *@
    @* <!--::subscribe_area part end::--> *@
<!-- FOOTER -->
@await Component.InvokeAsync("Footer")

    <!-- jquery plugins here-->
    <script src="~/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="~/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="~/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="~/js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="~/js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <!-- slick js -->
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/contact.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/js/jquery.form.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/mail-script.js"></script>
    <!-- custom js -->
    <script src="~/js/custom.js"></script>
</body>

</html>